{
    "extends": "react-app",
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "semi": ["error", "always"],
        "comma-dangle": ["error", "always-multiline"],
        "quotes": ["error", "single"]
    }
}
